* {box-sizing: border-box;
margin: 0;
padding: 0;
}

html{
    font-size: 16px;
}

body{
    font-family: system-ui, -apple-system, segoe UI,Roboto, "Helvetica Neue", Arial, sans-serif;
    background: white;
    color: black;
    min-height: 100vh;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
}

a{
    color: #ff1f7d;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

ul{
    list-style: none;
}